html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.background{
  position: absolute;
  width: 1920px;
  height: 957px;
  object-fit: fill;

}

.shown{
  position: absolute;
  top: 800px;
  left: 1000px;
  font-size: 33px;
  font-weight: 600;
  color: #D64747;
  text-align: left;
  display: flex;
  align-items: center;
  width: 491px;
  height: 61px;
  font-family: 'Poppins', sans-serif; 

}

.shown1{
  position: absolute;
  top: 800px;
  left: 1000px;
  font-size: 33px;
  font-weight: 600;
  color: #D64747;
  text-align: left;
  display: flex;
  align-items: center;
  width: 491px;
  height: 61px;
  font-family: 'Poppins', sans-serif; 
}

.ambient-temp {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 250px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}  

.ambient-temperature1 {
  position: absolute;
  top: 165px;
  left: 318px;
  font-size: 37px;
  font-weight: 600;
  color: #D64747;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 491px;
  height: 61px;
  font-family: 'Poppins', sans-serif; 
  animation: glow 1s infinite alternate; 
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #925fe2; 
  }
  100% {
    text-shadow: 0 0 20px #925fe2; 
  }
}

.chart-parent{
  position: relative;
  margin-left: 300px;
  width: 80vw;
  height: 70vh;
}
.graph{
position: relative;
margin-left: 300px;
width: 80vw;
height: 70vh;
}

.graph-button {
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; 
  margin-bottom: 20px; /* Adjust as needed */
}

/* Responsive adjustments */
@media only screen and (max-width: 576px) {
  .ambient-temp {
    height: 150px;
  }

  .ambient-temperature1 {
    font-size: 3vw;
  }

  .graph {
    height: 40vh;
  }

  .graph-button {
    padding: 0.8rem 1.5rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .ambient-temp {
    height: 150px;
    font-size: 1.2rem;
  }

  .ambient-temperature1 {
    font-size: 2vw;
  }

  .graph {
    height: 45vh;
  }
}