.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.frame-container {
    position: absolute;
    top: 80px;
    left: 313px;
    border-radius: 24px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 1095px;
    height: 158px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}
.welcome-parent {
    position: absolute;
    top: 55px;
    left: 33px;
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
}
/* .home {
    position: relative;
    font-weight: 600;
} */

.choose-a-parameter {
    position: relative;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.dashboard {
    position: absolute;
    top: calc(50% - 66px);
    left: 33px;
    font-size: var(--font-size-base);
    color: rgba(255, 255, 255, 0.33);
}
.the-map-showcases {
    position: absolute;
    top: 270px;
    left: 320px;
    font-size: var(--font-size-base);
    color: rgba(6, 5, 5, 0.75);
}

.weather-condition {
    position: absolute;
    top: 325px;
    left: 575px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 1205px;
    height: 200px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.wind-speed-direction {
    position: absolute;
    top: 550px;
    left: 1390px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 390px;
    height: 375px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.current-weather{
    position: absolute;
    top: 325px;
    left: 313px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 200px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.temprature{
    display: flex;
}

.temprature #temp{
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    margin-left:  100px;
    
    
}

.temprature span{
    font-size: 35px;
    margin-top:  10px;
    display: block;
}

.date-time{
    font-size: 15px;
    margin-left:  15px;
    
}

.condition{
    margin-top:  -5px;
}
.condition-rain {
    font-size: 15px;
    margin-left:  15px;
    text-transform: capitalize;
}

.condition-rain div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1px;
}

.condition-rain div i{
    width: 20px;
}

.temp1 {
    position: absolute;
    top: 550px;
    left: 313px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 375px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.thermometer-png{
    width: 225px;
    
}

.compass-png{
    width: 225px;
    margin-left: 80px;
}

.weather-png{
    width: 120px;
    margin-left: 35px;
}

.humid {
    position: absolute;
    top: 550px;
    left: 575px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.surf-temp {
    position: absolute;
    top: 750px;
    left: 575px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.rain {
    position: absolute;
    top: 550px;
    left: 850px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.solar {
    position: absolute;
    top: 750px;
    left: 850px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.wind-speed-direction1 {
    position: absolute;
    top: 550px;
    left: 1125px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}

.pol-par {
    position: absolute;
    top: 750px;
    left: 1125px;
    border-radius: 5px;
    background: linear-gradient(98.5deg, #925fe2, #7e2093);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
}



.card2 .card-heading{
    color: rgba(255, 255, 255, 0.33);
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    
}

.card2 .content{
    margin-top: 20px;
}

.card2 .content p:first-child{
    text-align: center;
    font-size: 30px;
}
