.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 120px;
}
.untitled-1440-x-1024-px-1 {
    position: absolute;
    width: 100%;
    height: 100%; 
    /* height: 100vh; */
}
.cloudy-climes-high-resolution-icon-landing {
    position: absolute;
    top: 27px;
    left: 40px;
    width: 73px;
    height: 74px;
    object-fit: cover;
}
.cloudy-climes {
    position: absolute;
    top: 230px;
    left: 450px;
    -webkit-text-stroke: 1px #6c0b74;
}
.designing-an-automatic {
    position: absolute;
    top: 380px;
    left: 450px;
    font-size: 25px;
    font-family: var(--font-inter);
    color: #000;
    text-align: center;
    display: inline-block;
    width: 968px;
    height: 20px;
}
.hover {
    position: absolute;
    top: 700px;
    left: 800px;
}
.log-in {
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    color: rgba(74, 17, 95, 0.79);
}