.login-child {
  position: absolute;
  top: 575px;
  left: 213px;
  border-radius: 105.53px;
  width: 635px;
  height: 377px;
}
.objectother-03-icon,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 1058px;
  object-fit: cover;
}
.objectother-03-icon {
  height: 5000px;
  width: 5000px;
  right: 0;
  bottom: 300px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.objectother-03 {
  position: absolute;
  top: 70px;
  left: 128px;
  width: 661px;
  height: 628px;
}

.e-maill{
  position: absolute;
  display: inline-block;
  margin-left: 100px;
  margin-top: 100px;
  top: 250px;
  left: 900px;
  font-weight: 500;
  width: 628px;
  height: 43px;
  font-weight: bold;
  font-size: 30px;
}

.passwordd{

  position: absolute;
  display: inline-block;
  margin-left: 100px;
  margin-top: 200px;
  top: 280px;
  left: 900px;
  font-weight: 500;
  width: 628px;
  height: 43px;
  font-weight: bold;
  font-size: 30px;
}

.e-mail,
.password,
.welcome-back {
  position: absolute;
  display: inline-block;
  margin-left: 800px;
  
}
.welcome-back {
  top: 180px;
  left: 400px;
  font-size: 48px;
  font-weight: 600;
  width: 391px;
  height: 84px;
}
.e-mail,
.password {
  top: 250px;
  left: 789px;
  font-weight: 500;
  width: 628px;
  height: 43px;
  font-weight: bold;
}
.password {
  top: 373px;
}

.placeholderr {
  margin-top: 390px;
  margin-left: 890px;
  position: absolute;
  width: 750px;
  height: 40px;
  border-style: solid;
  border-radius: 9px;
  position: absolute;
  left: 110px;
  
}

.placeholder11 {
  margin-top: 490px;
  margin-left: 890px;
  position: absolute;
  width: 750px;
  height: 40px;
  border-style: solid;
  border-radius: 9px;
  position: absolute;
  left: 110px;
  top: 30px;

}

.placeholder1 {
  margin-top: 100px;
  margin-left: 1000px;
}

.placeholder {
  margin-top: -100px;
  margin-left: 800px;
}
.login-item {
  position: absolute;
  top: 500px;
  border-radius: var(--br-11xl) var(--br-31xl) var(--br-11xl) var(--br-31xl);
  background-color: var(--color-mediumslateblue);
  width: 390px;
  height: 75px;
}
/* .login-button {
  position: absolute;
  top: 550px;
  left: 1028px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 60px;
  height: 30px;
} */

.login-button{
  position: absolute;
  top: 620px;
  left: 1300px;
  font-size: 22px;
  font-weight: 500;
  color: whitesmoke;
  display: inline-block;
  border-radius: 25px;
  border-color: #925fe2; 
  background-color: #925fe2;
  width: 150px;
  height: 50px;
}
.span {
  color: var(--color-mediumslateblue);
}
.register1 {
  font-weight: 500;
  top: 550px;
  left: 1028px;
  font-size: 12px;
  font-weight: 500;
  color: whitesmoke;
  display: inline-block;
  border-radius: 25px;
  border-color: #925fe2; 
  background-color: #925fe2;
  width: 60px;
  height: 30px;
  
  
}
.dont-have-and-container {
  position: absolute;
  top: 900px;
  left: 1600px;
  display: inline-block;
  width: 389px;
  height: 62px;
  font-family: var(--font-inter);
  font-size: 20px;
}
.login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh; /* Use viewport height instead of a fixed value */
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

.hidden {
  display: none;
}