.cloudy-climes-high-resolution-icon {
  position: absolute;
  top: 75px;
  left: 79px;
  width: 73px;
  height: 74px;
  object-fit: cover;
}
.rectangle-wrapper {
  position: absolute;
  top: 48px;
  left: calc(50% - 64.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #925fe2;
  /* background: linear-gradient(0deg, #925fe2, rgba(146, 95, 226, 0), #e2d4f7); */
  width: 233px;
  height: 958px;
}
.dashboard-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
}
.ambient-temperature {
  position: relative;
}
.surface-temperature {
  position: relative;
}
.relative-humidity {
  position: relative;
}.wind-speed-direction {
  position: relative;
}.solar-irradiance {
  position: relative;
}.rainfall {
  position: relative;
}.pollution-parameters {
  position: relative;
}
.dashboard-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-white);
}
.cash-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cash-icon {
  position: relative;
  width: 100px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.cash-parent3 {
  gap: var(--gap-xs);
  text-align: left;
}
.cash-parent3,
.cash-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-group,
.logout-wrapper {
  position: absolute;
  display: flex;
}
.frame-group {
  top: 232px;
  left: calc(50% - 94.5px);
  height: 689px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.logout-wrapper {
  top: 888px;
  left: 39px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-child {
  position: relative;
  border-radius: 32px;
  background: linear-gradient(180deg, #925fe2, #7042c0);
  width: 128px;
  height: 128px;
}

