/* .cloudy-climes-high-resolution-icon{
  position: absolute;
  top: 75px;
  left: 79px;
  width: 73px;
  height: 74px;
  object-fit: cover;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.cloudy{
  top: 75px;
  left: 79px;
  width: 73px;
  height: 74px;
  position: absolute;
}

.rectangle-wrapper {
  position: absolute;
  top: 48px;
  left: calc(50% - 64.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(214, 71, 71, 0.4); 
  width: 233px;
  height: 955px;
}
.dashboard-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-top: -7.5px;
}  



.dashboard-iconn {
  position: absolute;
  height: 30px;
  left: -9px;
  overflow: hidden;
  margin-top: -7.5px;
}

.labels {
  position: relative;
  margin-left: 45px;
  color: #fafafa;
  font-family: 'Poppins', sans-serif; 
  font-size: 13px;
  font-weight: 500;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.labels:hover {
    font-size: 18px;
    color: #ff66b2; 
}

.dashboard-parent a:hover {
  display: flex; /*flex yung orig*/
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-white);
  color: #f1f1f1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-property: box-shadow, transform;
}
.frame-group,
.logout-wrapper {
  position: absolute;
  display: flex;
  
}
.frame-group {
  top: 150px;
  left: 20px;
  height: 689px;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  
}
.logout-wrapper {
  top: 888px;
  left: 39px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-child {
  position: relative;
  border-radius: 32px;
  background: #C24641 ;
  width: 128px;
  height: 128px;
}






