.background1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.signbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 500px;
  height: 600px;
  background-color: rgba(214, 71, 71, 0.4);
  padding: 20px;
  box-sizing: border-box;
}

.sign-up1 {
  position: absolute;
  top: 200px;
  left: 46.5%;
  font-weight: 500;
  font-size: 30px;
  font-family: 'Poppins', sans-serif; 
  color: #ffffff; 
}


.e-mail {
  position: absolute;
  top: 350px;
  left: 41%;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  color: #ffffff;
}

.name1 {
  position: absolute;
  top: 250px;
  left: 41%;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  color: #ffffff; 
}


.password {
  position: absolute;
  top: 430px;
  left: 41%;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  color: #ffffff; 
}

.placeholder {
  position: absolute;
  top: 305px;
  left: 780px;
  width: 300px;
  height: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.7); 
}

.placeholder:hover {
  background-color: #7e1111; 
  color: #fff;
}

.placeholder1 {
  position: absolute;
  top: 385px;
  left: 780px;
  width: 300px;
  height: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.7); 
}

.placeholder1:hover {
  background-color: #7e1111;
  color: #fff; 
}

.placeholder2 {
  position: absolute;
  top: 465px;
  left: 780px;
  width: 300px;
  height: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.7); 
}

.placeholder2:hover {
  background-color: #7e1111; 
  color: #fff; 
}

.already-have-an {
  position: absolute;
  top: 630px;
  left: 44.5%;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff; 
}

.sign-in {
  position: absolute;
  top: 660px;
  left: 46%;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  border-radius: 20px; 
  border: 1px solid #ff0000; 
  background-color: transparent;
  padding: 10px 50px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.sign-in:hover {
  background-color: #ee4545; 
  color: #fff; 
}

.create-an-account {
  position: absolute;
  top: 540px;
  left: 43%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  border-radius: 20px; 
  border: 1px solid #ff0000; 
  background-color: transparent;
  padding: 10px 50px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.create-an-account:hover {
  background-color: #ee4545; 
  color: #fff; 
}