.sign-up1 {
  position: absolute;
  top: 100px;
  left: 97px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  width: 731px;
  height: 84px;
}
.cloudy-climes-high-resolution-icon {
  position: absolute;
  top: 40px;
  left: 43px;
  width: 43px;
  height: 44px;
  object-fit: cover;
}
.e-mail,
.your-weather-journey {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.your-weather-journey {
  top: 160px;
  left: 97px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 526px;
  height: 75px;
}
.e-mail {
  top: 350px;
  left: 90px;
  width: 628px;
  height: 43px;
  font-size: 17px;
}
.name1 {
  margin: 0;
}
.name {
  position: absolute;
  top: 250px;
  left: 90px;
  font-weight: 500;
  font-size: 17px;
  display: inline-block;
  width: 628px;
  height: 43px;
}
/* .placeholder{
  width: 400px;
  height: 20px;
  border-style: solid;
  border-radius: 9px;
  margin-top
}

.placeholder1{
  width: 400px;
  height: 20px;
  border-radius: 9px;
  border-style: solid;
}

.placeholder2{
  width: 400px;
  height: 20px;
  border-radius: 9px;
  border-style: solid;

} */

.placeholder,
.placeholder1,
.placeholder2 {
  border: 2px solid var(--color-gainsboro);
  background-color: var(--color-gray-100);
  position: absolute;
  top: 480px;
  left: 89px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 611px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-23xl);
}
.placeholder1,
.placeholder2 {
  top: 380px;
}
.placeholder2 {
  top: 280px;
}

.already-have-an,
.password,
.sign-in {
  position: absolute;
  top: 450px;
  left: 90px;
  font-weight: 500;
  font-size: 17px;
  display: inline-block;
  width: 628px;
  height: 44px;
}
.already-have-an {
  top: 680px;
  left: 75px;
  width: 500px;
  height: 37px;
}
.sign-in {
  top: 671px;
  
  width: 500px;
  height: 37px;
  cursor: pointer;
  font-size: 17px;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 260px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: #8700b6;
  text-align: left;
  width: 89px;
}
.sign-up-child {
  position: absolute;
  top: 570px;
  left: 217px;
  border-radius: var(--br-11xl) var(--br-31xl) var(--br-11xl) var(--br-31xl);
  background-color: #925fe2;
  width: 390px;
  height: 40px;
}
.create-an-account {
  position: absolute;
  top: 570px;
  left: 217px;
  font-size: 20px;
  font-weight: 500;
  
  color: whitesmoke;
  display: inline-block;
  border-radius: 25px;
  border-color: #925fe2; 
  background-color: #925fe2;
  width: 390px;
  height: 40px;
}
.rectangle-icon,
.saly-1-icon {
  position: absolute;
  top: 0;
  left: 767px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.saly-1-icon {
  height: 82.32%;
  width: 54.93%;
  top: 9.67%;
  right: -4.1%;
  bottom: 8.01%;
  left: 48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-up {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
  box-sizing: border-box;
}
