.dashboard-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
  font-weight: 600;
  opacity: 0.35;
}
.dashboard-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-white);
}
.ambient-temperature {
  position: relative;
}
.cash-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cash-icon {
  position: relative;
  width: 24px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.pollution-parameters,
.rainfall {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.rainfall {
  justify-content: center;
  width: 56px;
}
.pollution-parameters {
  width: 154px;
}
.cash-parent3 {
  gap: var(--gap-xs);
  text-align: left;
}
.cash-frame,
.cash-parent3,
.cash-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cash-frame {
  width: 36px;
}
.frame-group,
.logout-wrapper {
  position: absolute;
  display: flex;
}
.frame-group {
  top: 232px;
  left: calc(50% - 94.5px);
  height: 689px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.logout-wrapper {
  top: 888px;
  left: 39px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-child {
  position: relative;
  border-radius: 32px;
  background: linear-gradient(180deg, #925fe2, #7042c0);
  width: 128px;
  height: 128px;
}
.rectangle-wrapper {
  position: absolute;
  top: 48px;
  left: calc(50% - 64.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cloudy-climes-high-resolution-icon {
  position: absolute;
  top: 75px;
  left: 79px;
  width: 73px;
  height: 74px;
  object-fit: cover;
}
.cash-wrapper1 {
  position: absolute;
  top: 592px;
  left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent {
  position: absolute;
  top: calc(50% - 480px);
  left: 30px;
  border-radius: 24px;
  background: linear-gradient(0deg, #925fe2, rgba(146, 95, 226, 0), #e2d4f7);
  width: 233px;
  height: 960px;
  overflow: hidden;
}
.thermostat-black-24dp-2-icon {
  position: absolute;
  top: 304px;
  left: 42px;
  width: 48px;
  height: 33px;
  overflow: hidden;
}
.cloudy-snowing-black-24dp-2-icon,
.location-city-black-24dp-2-icon {
  position: absolute;
  top: 632px;
  left: 50px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.location-city-black-24dp-2-icon {
  top: 692px;
}
.surface-temperature2 {
  position: absolute;
  top: 165px;
  left: 318px;
  font-size: 40px;
  font-weight: 600;
  color: #925fe2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 491px;
  height: 61px;
}
.surface-temperature {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
