.dashboard-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
  font-weight: 600;
}
.dashboard-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-white);
}
.ambient-temperature {
  position: relative;
}
.cash-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cash-icon {
  position: relative;
  width: 24px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.pollution-parameters,
.rainfall {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.rainfall {
  justify-content: center;
  width: 47px;
}
.pollution-parameters {
  width: 154px;
}
.cash-parent3,
.cash-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cash-parent3 {
  gap: var(--gap-xs);
  text-align: left;
}
.cash-wrapper {
  width: 36px;
}
.frame-group,
.logout-wrapper {
  position: absolute;
  display: flex;
}
.frame-group {
  top: 232px;
  left: calc(50% - 94.5px);
  height: 689px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.logout-wrapper {
  top: 888px;
  left: 39px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logout-button{
  background-color: Transparent;
  border:none
}
.frame-child {
  position: relative;
  border-radius: 32px;
  background: linear-gradient(180deg, #925fe2, #7042c0);
  width: 128px;
  height: 128px;
}
.rectangle-wrapper {
  position: absolute;
  top: 48px;
  left: calc(50% - 64.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cloudy-climes-high-resolution-icon {
  position: absolute;
  top: 75px;
  left: 79px;
  width: 73px;
  height: 74px;
  object-fit: cover;
}
.cash-frame {
  position: absolute;
  top: 592px;
  left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent {
  position: absolute;
  top: calc(50% - 480px);
  left: 32px;
  border-radius: var(--br-5xl);
  background: linear-gradient(0deg, #916aca, #813b98, #6a41a6);
  width: 233px;
  height: 960px;
  overflow: hidden;
}
.choose-a-parameter {
  position: relative;
  font-size: var(--font-size-base);
  color: rgba(255, 255, 255, 0.75);
}
.welcome-parent {
  position: absolute;
  top: 52px;
  left: 33px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard {
  position: absolute;
  top: calc(50% - 66px);
  left: 33px;
  font-size: var(--font-size-base);
  color: rgba(255, 255, 255, 0.33);
}
.frame-container {
  position: absolute;
  top: 80px;
  left: 313px;
  border-radius: var(--br-5xl);
  background: linear-gradient(98.5deg, #925fe2, #7e2093);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  width: 1095px;
  height: 158px;
  overflow: hidden;
  font-size: 32px;
  color: var(--color-white);
}
.the-map-showcases {
  position: absolute;
  top: 283px;
  left: 320px;
  font-size: var(--font-size-base);
  color: rgba(6, 5, 5, 0.75);
}
.basemap-image {
  position: absolute;
  top: 352px;
  left: 320px;
  width: 1070px;
  height: 600px;
}
.thermostat-black-24dp-1-icon {
  position: absolute;
  top: 339px;
  left: 42px;
  width: 48px;
  height: 33px;
  overflow: hidden;
}
.cloudy-snowing-black-24dp-1-icon,
.location-city-black-24dp-1-icon {
  position: absolute;
  top: 662px;
  left: 52px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.location-city-black-24dp-1-icon {
  top: 727px;
}
.dashboard-home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}